.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
  }
  .direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: rgb(3, 18, 3);
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .direction:hover {
    background-color: #007acc;
    color: white;
  }
  
  .SOLNESS {
    color: #ff5733;
  }
  
  .KAIA{
    color: #0bdf19;
  }
  
  .MRSSOLNESS{
    color: #d4149b;
  }
  .SOLNESS:hover {
    text-shadow:2px 2px 4px #FF5733; 
    border: 2px solid #FF5733;
    cursor: pointer;  
}
.KAIA:hover {
    text-shadow:2px 2px 4px chartreuse; 
    border:2px solid rgb(128, 204, 240);
    cursor: pointer; 
}
.MRSSOLNESS:hover {
    text-shadow:2px 2px 4px fuchsia; 
    border:2px solid lawngreen;
    cursor: pointer; 
}
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #010a01;
    color: white;
  }
